XMLGHOS/data_types.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified">
	
	<!--  Base component -->
	<xs:complexType name="BaseComponent">
		<xs:attribute name="id" type="xs:int" use="optional" />
	</xs:complexType>

	<!--  Describable component -->
	<xs:complexType name="DescComponent">
		<xs:complexContent>
			<xs:extension base="BaseComponent">
				<xs:sequence>
					<xs:element name="description" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!--  Component reference -->
	<xs:complexType name="ComponentRef">
		<xs:attribute name="model_id" type="xs:int" use="required" />
		<xs:attribute name="id" type="xs:int" use="required" />
	</xs:complexType>

	<!-- Resource types -->
	<xs:complexType name="ResourceType">
		<xs:complexContent>
			<xs:extension base="DescComponent" />
		</xs:complexContent>
	</xs:complexType>

	<!-- Resources -->
	<xs:complexType name="Resource">
		<xs:complexContent>
			<xs:extension base="DescComponent">
				<xs:sequence>
					<xs:element name="units" type="xs:int" default="1" />
					<xs:element name="timeTable" minOccurs="0"	maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="rt_ref" maxOccurs="unbounded" type="ComponentRef" />
								<xs:element name="cycle" type="Cycle" />
								<xs:element name="dur">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:int">
												<xs:attribute	name="timeUnit" type="CommonFreq" use="optional" />
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Activities -->
	<xs:complexType name="Activity">
		<xs:complexContent>
			<xs:extension base="DescComponent">
				<xs:sequence>
					<xs:element name="priority" type="xs:int"	default="0" />
					<xs:element name="presential" type="xs:boolean" />
					<xs:element name="workGroup" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="BaseComponent">
									<xs:sequence>
										<xs:element name="description" type="xs:string" minOccurs="0" />
										<xs:element name="role" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="rt_ref" type="ComponentRef" />
													<xs:element name="units" type="xs:int" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="priority" type="xs:int" />
										<xs:element name="duration" type="RandomNumber" />
									</xs:sequence>
									<xs:attribute name="timeUnit" type="CommonFreq" use="optional" />									
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Element type -->
	<xs:complexType name="ElementType">
		<xs:complexContent>
			<xs:extension base="DescComponent">
				<xs:sequence>
					<xs:element name="priority" type="xs:int" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		


	<!-- Root flow -->
	<xs:complexType name="RootFlow">
		<xs:complexContent>
			<xs:extension base="DescComponent">
				<xs:sequence>
					<xs:element name="flow" type="FlowChoice" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Workflow patterns -->
	
	<!-- Base Flow -->
	<xs:complexType name="Flow">
		<xs:complexContent>
			<xs:extension base="BaseComponent">
				<xs:sequence>
					<xs:element minOccurs="0" name="iterations" type="RandomNumber" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Single -->
	<xs:complexType name="SingleFlow">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:sequence>
					<xs:element name="act_ref" type="ComponentRef" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Packed root flow -->
	<xs:complexType name="PackageFlow">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:sequence>
					<xs:element name="rootFlow_ref" type="ComponentRef" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Exit flow -->
	<xs:complexType name="ExitFlow">
		<xs:complexContent>
			<xs:extension base="Flow"/>
		</xs:complexContent>
	</xs:complexType>

	<!-- Sequence -->
	<xs:complexType name="SequenceFlow">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="single" type="SingleFlow" />
						<xs:element name="package" type="PackageFlow" />
						<xs:element name="sequence" type="SequenceFlow" />
						<xs:element name="simultaneous"	type="SimultaneousFlow" />
						<xs:element name="decision" type="DecisionFlow" />
						<xs:element name="type" type="TypeFlow" />
						<xs:element name="exit" type="ExitFlow" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Simultaneous (parallel split) -->
	<xs:complexType name="SimultaneousFlow">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:sequence>
					<xs:choice minOccurs="0" maxOccurs="unbounded">
						<xs:element name="single" type="SingleFlow" />
						<xs:element name="package" type="PackageFlow" />
						<xs:element name="sequence" type="SequenceFlow" />
						<xs:element name="simultaneous" type="SimultaneousFlow" />
						<xs:element name="decision" type="DecisionFlow" />
						<xs:element name="type" type="TypeFlow" />
						<xs:element name="exit" type="ExitFlow" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Decision (exclusive choice) -->
	<xs:complexType name="DecisionFlow">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:sequence>
					<xs:element name="option" minOccurs="0" maxOccurs="unbounded" type="DecisionOption" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- Decision Option -->
	<xs:complexType name="DecisionOption">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:choice>
					<xs:element name="single" type="SingleFlow" />
					<xs:element name="package" type="PackageFlow" />
					<xs:element name="sequence" type="SequenceFlow" />
					<xs:element name="simultaneous" type="SimultaneousFlow" />
					<xs:element name="decision" type="DecisionFlow" />
					<xs:element name="type" type="TypeFlow" />
					<xs:element name="exit" type="ExitFlow" />
				</xs:choice>
				<xs:attribute name="prob" type="xs:float" use="required" />
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Type bifurcation -->
	<xs:complexType name="TypeFlow">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="branch" type="TypeBranch" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Type branch -->
	<xs:complexType name="TypeBranch">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:sequence>
					<xs:element name="elementType" maxOccurs="unbounded" type="ComponentRef"/>
					<xs:choice>
						<xs:element name="single" type="SingleFlow" />
						<xs:element name="package" type="PackageFlow" />
						<xs:element name="sequence" type="SequenceFlow" />
						<xs:element name="simultaneous" type="SimultaneousFlow" />
						<xs:element name="decision" type="DecisionFlow" />
						<xs:element name="type" type="TypeFlow" />
						<xs:element name="exit" type="ExitFlow" />
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Flow type choice -->
	<xs:complexType name="FlowChoice">
		<xs:complexContent>
			<xs:extension base="Flow">
				<xs:choice>
					<xs:element name="single" type="SingleFlow" />
					<xs:element name="package" type="PackageFlow" />
					<xs:element name="sequence" type="SequenceFlow" />
					<xs:element name="simultaneous" type="SimultaneousFlow" />
					<xs:element name="decision" type="DecisionFlow" />
					<xs:element name="type" type="TypeFlow" />
					<xs:element name="exit" type="ExitFlow" />
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Random number description -->
	<xs:complexType name="RandomNumber">
		<xs:choice>
			<xs:sequence>
				<xs:element name="op" type="Operation" />
				<xs:element name="operand" type="RandomNumber" minOccurs="2" maxOccurs="2" />
			</xs:sequence>
			<xs:sequence>
				<xs:element name="dist" type="Distribution" />
				<xs:element name="p1" type="xs:double" />
				<xs:element name="p2" type="xs:double" />
				<xs:element name="p3" type="xs:double" />
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	
	<xs:simpleType name="Operation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDITION" />
			<xs:enumeration value="MULTIPLICATION" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="Distribution">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BETA" />
			<xs:enumeration value="CHISQUARE" />
			<xs:enumeration value="ERLANG" />
			<xs:enumeration value="EXPONENTIAL" />
			<xs:enumeration value="FIXED" />
			<xs:enumeration value="GEOMETRIC" />
			<xs:enumeration value="NORMAL" />
			<xs:enumeration value="POISSON" />
			<xs:enumeration value="TRIANGULAR" />
			<xs:enumeration value="UNIFORM" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Cycle description -->
	<xs:complexType name="Cycle">
		<xs:sequence>
			<xs:element name="timeUnit" type="CommonFreq" />
			<xs:element name="startTs" type="xs:double" />
			<xs:choice>
				<xs:element name="iterations" type="xs:int" />
				<xs:element name="endTs" type="xs:double" />
			</xs:choice>
			<xs:element name="period" type="RandomNumber" />
			<xs:element name="subCycle" type="Cycle" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<!-- Time unit values -->
	<xs:simpleType name="CommonFreq">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR" />
			<xs:enumeration value="MONTH" />
			<xs:enumeration value="DAY" />
			<xs:enumeration value="HOUR" />
			<xs:enumeration value="MINUTE" />
			<xs:enumeration value="SECOND" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>